.app {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  display: inline-block;
  animation: spin infinite 3s linear;
  width: 60px;
  height: 60px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.title {
  font-size: 1.5em;
}

.app-settings {
  margin-bottom: 40px;
}

.settings-wrapper {
  background-color: #d6d7d8;
  border-bottom: 2px solid grey;
  padding: 20px;
}

.no-margin {
  margin: 0;
}

.settings {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.settings.visible {
  max-height: 50000px;
  transition: max-height 0.25s ease-in;
}

.victory {
  font-size: 1.5em;
}

.form {
  padding-top: 20px;
}

.form-group {
  padding: 10px;
}

.form-group label {
  margin-right: 15px;
}

.form-group button {
  margin-left: 15px;
}

input[type=number] {
  padding: 5px;
  font-size: 1em;
  font-weight: 400;
  border: 1px solid grey;
  border-radius: 3px;
}

input[type=color] {
  padding: 0;
  border: 1px solid grey;
  border-radius: 3px;
}

.settings-toggle {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid grey;
  cursor: pointer;
  margin: auto;
}

.intro {
  font-size: large;
  margin-top: 20px;
}

.game-grid {
  margin: auto;
  border: 3px solid grey;
  display: inline-block;
}

.game-line {
  height: auto;
}

.game-cell {
    height: 60px;
    width: 60px;
    background-color: black;
    display: inline-block;
    border: 1px solid grey;
    box-sizing: border-box;
    vertical-align: bottom;
}

.ball {
  display: block;
  border-radius: 50%;
  height: 50%;
  width: 50%;
  min-height: 20px;
  min-width: 20px;
  margin: 25% 25%;
}

.medium-ball {
  height: 60%;
  width: 60%;
  margin: 20% 20%;
}

.large-ball {
  height: 70%;
  width: 70%;
  margin: 15% 15%;
}

.shaking {
  animation-name: shake;
	animation-duration: 3s;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.shaking-more {
  animation-name: shakemore;
	animation-duration: 0.6s;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shake {
  0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shakemore {
  0% { transform: translate(4px, 2px) rotate(0deg); }
	10% { transform: translate(-2px, -4px) rotate(-1deg); }
	20% { transform: translate(-6px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 4px) rotate(0deg); }
	40% { transform: translate(2px, -2px) rotate(1deg); }
	50% { transform: translate(-2px, 4px) rotate(-1deg); }
	60% { transform: translate(-6px, 2px) rotate(0deg); }
	70% { transform: translate(4px, 2px) rotate(-1deg); }
	80% { transform: translate(-2px, -2px) rotate(1deg); }
	90% { transform: translate(4px, 4px) rotate(0deg); }
	100% { transform: translate(2px, -4px) rotate(-1deg); }
}

.footer {
  padding: 20px;
}

.button-toolbar button {
  margin-left: 5px;
}

button {
  border: 0;
  border-radius: 3px;
  color: white;
  background-color: grey;
  padding: 8px 12px;
  font-size: 1em;
}
